<div class="po-wrapper">
 
  <po-toolbar p-title="TaskApp"></po-toolbar>
  <po-menu [p-menus]="menus"></po-menu>

  <po-page-default >

  <input type="text" class="todo-input" placeholder="Nova tarefa, Enter"  [(ngModel)]="taskTitle" (keyup.enter)="addTask()">

  <app-task 
    *ngFor="let task of taskService.tasksFiltered()" 
   [task]="task"

  >
  </app-task>

  <div class="extra-container">
    <div>
    <po-button
        [ngClass]="{'active': taskService.filter == 'all'}"
        (p-click)="taskService.filter='all'"
        p-label="Todas"
        p-type="link"
    >
    </po-button>

    <po-button
    [ngClass]="{'active': taskService.filter == 'active'}"
    (p-click)="taskService.filter='active'"
    p-label="Pendentes"
    p-type="link"
    >
    </po-button>

    <po-button
    [ngClass]="{'active': taskService.filter == 'completed'}"
    (p-click)="taskService.filter='completed'"
    p-label="Concluídas"
    p-type="link"
    >
    </po-button>

    </div>
  </div>

  </po-page-default>
</div>  